In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('Occupations by Share.csv')

In [5]:
df

,ID Major Occupation Group,Major Occupation Group,ID Minor Occupation Group,Minor Occupation Group,ID Broad Occupation,Broad Occupation,ID Detailed Occupation,Detailed Occupation,ID Year,Year,...,Average Wage,Average Wage Appx MOE,Record Count,Slug Detailed Occupation,PUMS Industry,ID PUMS Industry,Slug PUMS Industry,ID Industry Sector,Industry Sector,Slug Industry Sector
0,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,111021,General & operations managers,2019,2019,...,125300.655582,14621.223925,413,general-operations-managers,Information,51,information-51,51,Information,information
1,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,1110XX,Chief executives & legislators,2019,2019,...,217475.300750,22016.372859,445,chief-executives-legislators,Information,51,information-51,51,Information,information
2,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,112011,Advertising & promotions managers,2019,2019,...,73657.217804,19450.981435,76,advertising-promotions-managers,Information,51,information-51,51,Information,information
3,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,112021,Marketing managers,2019,2019,...,130465.070896,15683.870203,349,marketing-managers,Information,51,information-51,51,Information,information
4,110000-290000,"Management, business, science, & arts occupations",110000-130000,"Management, business, & financial occupations",110000,Management occupations,112022,Sales managers,2019,2019,...,126227.865019,13578.775693,358,sales-managers,Information,51,information-51,51,Information,information
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1229,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,531000-536000,Transportation Occupations,533041,Taxi drivers & chauffeurs,2014,2014,...,49273.941568,19854.496977,11,taxi-drivers-chauffeurs,Information,51,information-51,51,Information,information
1230,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537051,Industrial truck & tractor operators,2014,2014,...,31990.905204,7478.661792,22,industrial-truck-tractor-operators,Information,51,information-51,51,Information,information
1231,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537061,Cleaners of vehicles & equipment,2014,2014,...,7663.671801,3428.237179,6,cleaners-of-vehicles-equipment,Information,51,information-51,51,Information,information
1232,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537062,"Laborers & freight, stock, & material movers, ...",2014,2014,...,36023.528111,5738.542945,173,laborers-freight-stock-material-movers-hand,Information,51,information-51,51,Information,information
1233,510000-530000,"Production, Transportation, & Material Moving ...",530000,Transportation & Material Moving Occupations,537000,Material Moving Occupations,537064,"Packers & packagers, hand",2014,2014,...,14625.587041,3660.836779,56,packers-packagers-hand,Information,51,information-51,51,Information,information

In [6]:
df.columns

Index(['ID Major Occupation Group', 'Major Occupation Group',
       'ID Minor Occupation Group', 'Minor Occupation Group',
       'ID Broad Occupation', 'Broad Occupation', 'ID Detailed Occupation',
       'Detailed Occupation', 'ID Year', 'Year', 'ID Workforce Status',
       'Workforce Status', 'Total Population', 'Total Population MOE Appx',
       'Average Wage', 'Average Wage Appx MOE', 'Record Count',
       'Slug Detailed Occupation', 'PUMS Industry', 'ID PUMS Industry',
       'Slug PUMS Industry', 'ID Industry Sector', 'Industry Sector',
       'Slug Industry Sector'],
      dtype='object')

In [7]:
df.drop(['ID Major Occupation Group', 'ID Minor Occupation Group', 'ID Broad Occupation', 'ID Detailed Occupation',
        'ID Year', 'ID Workforce Status',  'Workforce Status',  'Slug Detailed Occupation', 'ID PUMS Industry',
       'Slug PUMS Industry', 'ID Industry Sector',  'Slug Industry Sector'], axis=1)

,Major Occupation Group,Minor Occupation Group,Broad Occupation,Detailed Occupation,Year,Total Population,Total Population MOE Appx,Average Wage,Average Wage Appx MOE,Record Count,PUMS Industry,Industry Sector
0,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,General & operations managers,2019,38581,4821.767581,125300.655582,14621.223925,413,Information,Information
1,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Chief executives & legislators,2019,40010,4910.229176,217475.300750,22016.372859,445,Information,Information
2,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Advertising & promotions managers,2019,7167,2078.419474,73657.217804,19450.981435,76,Information,Information
3,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Marketing managers,2019,33415,4487.429730,130465.070896,15683.870203,349,Information,Information
4,"Management, business, science, & arts occupations","Management, business, & financial occupations",Management occupations,Sales managers,2019,37472,4751.979483,126227.865019,13578.775693,358,Information,Information
...,...,...,...,...,...,...,...,...,...,...,...,...
1229,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Transportation Occupations,Taxi drivers & chauffeurs,2014,1352,902.736536,49273.941568,19854.496977,11,Information,Information
1230,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,Industrial truck & tractor operators,2014,3017,1348.521148,31990.905204,7478.661792,22,Information,Information
1231,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,Cleaners of vehicles & equipment,2014,844,713.254763,7663.671801,3428.237179,6,Information,Information
1232,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,"Laborers & freight, stock, & material movers, ...",2014,17769,3272.493949,36023.528111,5738.542945,173,Information,Information
1233,"Production, Transportation, & Material Moving ...",Transportation & Material Moving Occupations,Material Moving Occupations,"Packers & packagers, hand",2014,6451,1971.870239,14625.587041,3660.836779,56,Information,Information